<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">
        <ul class="productSets px-24 pt-12 pb-32">
            <f:for each="{productSets}" as="productSet" iteration="iteration">
                <li>
                    <f:link.page pageUid="{productSet.pages.uid}">
                        <i class="icon-cross align-middle"> </i>{productSet.name}
                    </f:link.page>
                </li>
            </f:for>
        </ul>

    </f:section>

</div>
