<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">
        <f:render section="list" arguments="{_all}"/>
        <f:render section="javaScript" arguments="{_all}"/>
    </f:section>

    <f:section name="javaScript">
        <script type="text/javascript">
            sessionStorage.setItem('ajaxListProductsCount', {productSetsCount});
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </f:section>

    <f:section name="list">
        <f:for each="{productSets}" as="productSet" iteration="iteration">
            <f:render section="listItem" arguments="{_all}"/>
        </f:for>
    </f:section>

    <f:section name="listItem">

        <div class="{f:if(condition: iteration.isOdd, then:'skin-black', else:'skin-white')}">
            <div class="card px-16 pt-16">

                <f:if condition="{isShop}">
                    <f:then>
                        <f:for each="{productSet.image}" as="file" iteration="iteration">
                            <f:render partial="ContentElements/Media/Type"
                                      arguments="{
                                      file: file,
                                      link: '{productSet.pages.uid}',
                                      L: '{sysLanguageUid}',
                                      is_shop: '1'
                                  }"/>
                        </f:for>
                    </f:then>
                    <f:else>
                        <f:for each="{productSet.image}" as="file" iteration="iteration">
                            <f:render partial="ContentElements/Media/Type"
                                      arguments="{
                                      file: file,
                                      link: '{productSet.pages.uid}',
                                      L: '{sysLanguageUid}'
                                  }"/>
                        </f:for>
                    </f:else>
                </f:if>


                <div class="card-body pb-8">

                    <h4>{productSet.name}</h4>

                    <div class="row m-0">
                        <div class="col-6 p-0 pr-8">
                            <f:if condition="{productFinderListWings}">
                                <f:then>
                                    {productFinderListWings}:
                                </f:then>
                                <f:else>
                                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productFinder.list.wings')}:
                                </f:else>
                            </f:if>
                            {productSet.filterWingcount}
                        </div>
                        <div class="col-6 p-0 pl-8">
                            <f:if condition="{productFinderListDoorWidth}">
                                <f:then>
                                    {productFinderListDoorWidth}:
                                </f:then>
                                <f:else>
                                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productFinder.list.doorWidth')}:
                                </f:else>
                            </f:if>
                            {productSet.minimumDoorWidth} - {productSet.maximumDoorWidth} mm
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-6 p-0 pr-8">
                            <f:if condition="{productFinderListDoorThickness}">
                                <f:then>
                                    {productFinderListDoorThickness}:
                                </f:then>
                                <f:else>
                                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productFinder.list.doorThickness')}:
                                </f:else>
                            </f:if>
                            {productSet.minimumDoorThickness} - {productSet.maximumDoorThickness} mm
                        </div>
                        <div class="col-6 p-0 pl-8">
                            <f:if condition="{productFinderListDoorWeight}">
                                <f:then>
                                    {productFinderListDoorWeight}:
                                </f:then>
                                <f:else>
                                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productFinder.list.doorWeight')}:
                                </f:else>
                            </f:if>
                            max. {productSet.maximumDoorWeight} kg
                        </div>
                    </div>
                    <div class="row m-0 mb-16">
                        <div class="col-6 p-0 pr-8">
                            <f:if condition="{isShop}">
                                <f:if condition="{productSetVariantGroupPrice}">
                                    <f:then>
                                        {productSetVariantGroupPrice}:
                                    </f:then>
                                    <f:else>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.price')}
                                    </f:else>
                                </f:if>
                                <f:if condition="{productSetVariantGroupVatText}">
                                    <f:then>
                                        {productSetVariantGroupVatText}
                                    </f:then>
                                    <f:else>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.{gjoSe:feUser.vatText()}')}
                                    </f:else>
                                </f:if>
                                <f:if condition="{gjoSe:feUser.discount()}">
                                    |
                                    <f:if condition="{productSetVariantGroupDiscount}">
                                        <f:then>
                                            {productSetVariantGroupDiscount}:
                                        </f:then>
                                        <f:else>
                                            {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.discount')}:
                                        </f:else>
                                    </f:if>
                                    {gjoSe:feUser.discount() -> f:format.currency(decimalSeparator:',',
                                    thousandsSeparator: '.',
                                    currencySign: '%')}
                                </f:if>
                            </f:if>
                        </div>

                    </div>
                    <div class="d-flex product-set-price">

                        <f:if condition="{isShop}">
                            <p class="p-0 py-8">
                                <f:if condition="{gjoSe:getLowestPrice(productSetVariantGroups: '{productSet.productSetVariantGroups}')}">
                                    <f:then>
                                        <f:if condition="{productFinderListPriceFrom}">
                                            <f:then>
                                                {productFinderListPriceFrom}
                                            </f:then>
                                            <f:else>
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productFinder.list.price.from')}
                                            </f:else>
                                        </f:if>
                                        <f:if condition="{gjoSe:feUser.discount()}">
                                            <f:then>
                                                <small class="pr-16">
                                                    <del>
                                                        {gjoSe:feUser.vatPrice(productSetVariantGroups: '{productSet.productSetVariantGroups}',
                                                        lowestPrice: 1) ->
                                                        f:format.currency(decimalSeparator:',', thousandsSeparator: '.', currencySign: '€')}
                                                    </del>
                                                </small>
                                                <span>
                                                    {gjoSe:feUser.vatPrice(productSetVariantGroups: '{productSet.productSetVariantGroups}',
                                                    lowestPrice: 1, feUserDiscount: '{gjoSe:feUser.discount()}') ->
                                                    f:format.currency(decimalSeparator:',', thousandsSeparator: '.', currencySign: '€')}
                                                </span>
                                            </f:then>
                                            <f:else>
                                                {gjoSe:feUser.vatPrice(productSetVariantGroups: '{productSet.productSetVariantGroups}',
                                                lowestPrice: 1) ->
                                                f:format.currency(decimalSeparator:',', thousandsSeparator: '.', currencySign: '€')}
                                            </f:else>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{productFinderListPriceAvailableOnRequest}">
                                            <f:then>
                                                {productFinderListPriceAvailableOnRequest}
                                            </f:then>
                                            <f:else>
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productFinder.list.price.availableOnRequest')}
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </p>
                        </f:if>

                        <div class="ml-auto py-16">
                            <f:if condition="{isShop}">
                                <f:then>
                                    <f:link.page pageUid="{productSet.pages.uid}" additionalParams="{L: '{sysLanguageUid}', is_shop: 1}">
                                        <button type="button"
                                                class="btn btn-tiger-primary float-right m-0 waves-effect waves-light">
                                            <f:if condition="{productsSeeProduct}">
                                                <f:then>
                                                    {productsSeeProduct}
                                                </f:then>
                                                <f:else>
                                                    <f:translate key="LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:products.seeProduct"/>
                                                </f:else>
                                            </f:if>
                                        </button>
                                    </f:link.page>
                                </f:then>
                                <f:else>
                                    <f:link.page pageUid="{productSet.pages.uid}" additionalParams="{L: '{sysLanguageUid}'}">
                                        <button type="button"
                                                class="btn btn-tiger-primary float-right m-0 waves-effect waves-light">
                                            <f:if condition="{productsSeeProduct}">
                                                <f:then>
                                                    {productsSeeProduct}
                                                </f:then>
                                                <f:else>
                                                    <f:translate key="LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:products.seeProduct"/>
                                                </f:else>
                                            </f:if>
                                        </button>
                                    </f:link.page>
                                </f:else>
                            </f:if>
                        </div>

                    </div>


                    <f:comment>
                        <!--erst auf Kundenwunsch wieder rein => scheint mir für die Listenansicht viel zu lang-->
                        <table class="table productset-configuration">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 70%">Ausstattung</th>
                                <th scope="col" style="width: 15%">ja</th>
                                <th scope="col" style="width: 15%">nein</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Für Holz geeignet</th>
                                <f:if condition="{productSet.filterMaterialWood}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>
                            <tr>
                                <th scope="row">Für Glas geeignet</th>
                                <f:if condition="{productSet.filterMaterialGlas}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">bauseitige Verblendung</th>
                                <f:if condition="{productSet.filterDesignCustomer}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Alu Verblendung</th>
                                <f:if condition="{productSet.filterDesignAlu}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Design-Beschlag</th>
                                <f:if condition="{productSet.filterDesignDesign}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Dämpfung</th>
                                <f:if condition="{productSet.filterSoftClose}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Automatik</th>
                                <f:if condition="{productSet.filterEt3}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">T-FOLD</th>
                                <f:if condition="{productSet.filterTfold}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Synchron</th>
                                <f:if condition="{productSet.filterSynchron}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Teleskop 2fach</th>
                                <f:if condition="{productSet.filterTelescop2}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Teleskop 3fach</th>
                                <f:if condition="{productSet.filterTelescop3}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Wandmontage</th>
                                <f:if condition="{productSet.filterMontageWall}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">Deckenmontage</th>
                                <f:if condition="{productSet.filterMontageCeiling}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            <tr>
                                <th scope="row">In der Wand</th>
                                <f:if condition="{productSet.filterMontageIn}">
                                    <f:then>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                        <td></td>
                                    </f:then>
                                    <f:else>
                                        <td></td>
                                        <td>
                                            <div class="white-circle"></div>
                                        </td>
                                    </f:else>
                                </f:if>
                            </tr>

                            </tbody>
                        </table>
                    </f:comment>
                </div>

            </div>

        </div>

    </f:section>

</div>
