<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">
        <f:render section="list" arguments="{_all}"/>
        <f:render section="javaScript" arguments="{_all}"/>
    </f:section>

    <f:section name="javaScript">
        <script type="text/javascript">
            sessionStorage.setItem('ajaxListProductsCount', {productSetsCount});
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
        </script>
    </f:section>

    <f:section name="list">
        <f:for each="{productSets}" as="productSet" iteration="iteration">
            <f:render section="listItem" arguments="{_all}"/>
        </f:for>
    </f:section>

    <f:section name="listItem">
        <div class="border-gray-300 p-3 mb-3">
            <div id="productItem_{productSet.aimeosProductId}" class="row">
                <div class="col-4">
                    <f:link.page pageUid="{productSet.pages.uid}">
                        <f:render partial="Utilities/Image"
                                  section="main"
                                  arguments="{
                                      falObject: productSet.image,
                                      width: '200',
                                      height: '200c',
                                      maxWidth: '200'
                                      class: 'border-gray-300'
                                      }"/>
                    </f:link.page>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <f:link.page pageUid="{productSet.pages.uid}">
                                <f:render partial="Utilities/Headline"
                                          section="h4"
                                          arguments="{
                                              content: '{productSet.name}'
                                              }"/>
                            </f:link.page>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <ul>
                                <li>
                                    Flügel: {productSet.filterWingcount}
                                </li>
                                <li>
                                    Breite: {productSet.minimumDoorWidth} - {productSet.maximumDoorWidth} mm
                                </li>
                                <li>
                                    Dicke: {productSet.minimumDoorThickness} - {productSet.maximumDoorThickness} mm
                                </li>
                                <li>
                                    Gewicht: max. {productSet.maximumDoorWeight} kg
                                </li>
                            </ul>
                        </div>
                        <div class="col-8 pl-2">
                            <div class="row mb-1">
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterMaterialWood}', then: 'für Holz geeignet', else: 'nicht für Holz geeignet')}">
                                    <img class="border-gray-500 mr-1 {f:if(condition: '{productSet.filterMaterialWood}', then: '', else: 'opacity-50')}"
                                         src="fileadmin/user_upload/productgroup/accessory_kit/icon_sidestop_holz_1_1.jpg"
                                         width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterMaterialGlas}', then: 'für Glas geeignet', else: 'nicht für Glas geeignet')}">
                                    <img class="border-gray-500 mr-3 {f:if(condition: '{productSet.filterMaterialGlas}', then: '', else: 'opacity-50')}"
                                         src="fileadmin/user_upload/productgroup/accessory_kit/icon_glas_1_1.jpg"
                                         width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterDesignCustomer}', then: 'bauseitige Verblendung: ja', else: 'bauseitige Verblendung: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterDesignCustomer}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterDesignAlu}', then: 'Alu-Verblendung: ja', else: 'Alu-Verblendung: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterDesignAlu}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterDesignDesign}', then: 'Design-Beschlag: ja', else: 'Design-Beschlag: nein')}">
                                    <img class="border-gray-500" src="{f:if(condition: '{productSet.filterDesignDesign}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                            </div>

                            <div class="row mb-1">
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterSoftClose}', then: 'Dämpfung: ja', else: 'Dämpfung: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterSoftClose}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterEt3}', then: 'Automatic: ja', else: 'Automatic: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterEt3}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterTfold}', then: 'T-FOLD: ja', else: 'T-FOLD: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterTfold}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterSynchron}', then: 'Synchron: ja', else: 'Synchron: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterSynchron}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterTelescop2}', then: 'Teleskop 2-fach: ja', else: 'Teleskop 2-fach: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterTelescop2}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterTelescop3}', then: 'Teleskop 3-fach: ja', else: 'Teleskop 3-fach: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterTelescop3}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterMontageWall}', then: 'Wandmontage: ja', else: 'Wandmontage: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterMontageWall}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterMontageCeiling}', then: 'Deckenmontage: ja', else: 'Deckenmontage: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterMontageCeiling}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterMontageAhead}', then: 'Montage vor der Wand: ja', else: 'Montage vor der Wand: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterMontageAhead}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                                <div data-toggle="tooltip" data-placement="bottom" title="{f:if(condition: '{productSet.filterMontageIn}', then: 'Montage in der Wand: ja', else: 'Montage in der Wand: nein')}">
                                    <img class="border-gray-500 mr-1" src="{f:if(condition: '{productSet.filterMontageIn}', then: '{settings.placeholder.imageDefault100}', else: '{settings.placeholder.imageDisabled100}')}" width="45">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right m-2">
                            <button type="button" class="btn btn-outline-secondary mx-2">
                                <f:link.page pageUid="{productSet.pages.uid}">Details</f:link.page>
                            </button>
                            <!--<button type="button" class="btn btn-outline-secondary">Anfragen</button>-->
                        </div>
                    </div>


                </div>

            </div>
        </div>


    </f:section>


</div>
