<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">

        <f:render section="javaScriptInternal" arguments="{_all}"/>
        <f:render section="javaScriptExternal"/>

        <div class="container">

            <h2 class="mb-5">Produkt-Konfigurator</h2>

            <div class="row">
                <div class="col-4 px-2">
                    <f:render section="filter" arguments="{_all}"/>
                </div>
                <div class="col-8">
                    <f:render section="list" arguments="{_all}"/>
                </div>
            </div>
        </div>

    </f:section>

    <f:section name="javaScriptInternal">
        <script type="text/javascript">
            var ajaxListProductsOffset = '{settings.ajaxListProducts.offset}';
            var ajaxListProductsLimit = parseInt('{settings.ajaxListProducts.limit}');
        </script>
    </f:section>

    <f:section name="javaScriptExternal">
        <v:asset.script name="noUISlider.js"
                        path="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"
                        external="true"
                        standalone="true"
                        movable="1"
        />
        <v:asset.script name="loadAjaxList.js"
                        path="{v:extension.path.resources(path: 'Component/LoadAjaxList/loadAjaxList.js', extensionName: 'gjo_boilerplate')}"
                        external="true"
                        standalone="true"
                        movable="1"
                        dependencies="jquery-3.2.1.min.js"
        />
    </f:section>

    <f:section name="filter">
        <div id="productFinderAccordion" role="tablist">
            <f:form id="productFinder" action="productFinderXYZ">
                <f:render section="material" arguments="{_all}"/>
                <f:render section="measure" arguments="{_all}"/>
                <f:render section="design" arguments="{_all}"/>
                <f:render section="configuration" arguments="{_all}"/>
                <f:render section="montage" arguments="{_all}"/>
            </f:form>
        </div>
    </f:section>

    <f:section name="material">
        <div class="card mb-3">
            <div class="card-header" role="tab" id="material">
                <h5 class="mb-0">
                    <a class="d-block" data-toggle="collapse" href="#collapseMaterial" aria-expanded="true"
                       aria-controls="collapseMaterial">
                        Material
                    </a>
                </h5>
            </div>

            <div id="collapseMaterial" class="collapse show" role="tabpanel" aria-labelledby="material"
                 data-parent="#productFinderAccordion">
                <div class="card-body">
                    <div class="btn-group btn-group-justified">
                        <label class="btn">
                            <f:form.radio class="d-none" name="material" value="wood" checked="1"/>
                            <img class="radio-icon border-tiger-orange"
                                 src="fileadmin/user_upload/productgroup/accessory_kit/icon_sidestop_holz_1_1.jpg" width="145" alt="Holz">
                        </label>
                        <label class="btn">
                            <f:form.radio class="d-none" name="material" value="glas"/>
                            <img class="radio-icon"
                                 src="fileadmin/user_upload/productgroup/accessory_kit/icon_glas_1_1.jpg" width="145" alt="Glas">
                        </label>
                    </div>
                    <f:if condition="{specificMaterial}">
                        <div class="specific-material">
                            <div class="d-flex justify-content-around">
                                <f:for each="{specificMaterial}" as="specificMaterialItem" iteration="iteration">
                                    <f:if condition="{specificMaterialItem.materialGroup} == '1' ">
                                        <f:then>
                                            <label class="btn p-0">
                                                <f:form.radio
                                                        class="d-none specificMaterialItemWood {f:if(condition: '{specificMaterialItem.name} == \'Vollspan\'', then: 'default-material')}"
                                                        name="spezificMaterial"
                                                        value="{specificMaterialItem.materialWeight}"
                                                        checked="{f:if(condition: '{specificMaterialItem.name} == \'Vollspan\'', then: '1', else: '0')}"/>
                                                <f:for each="{specificMaterialItem.image}" as="image">
                                                    <div data-toggle="tooltip" data-placement="bottom" title="{specificMaterialItem.name}">
                                                        <f:image src="{image.uid}"
                                                                 treatIdAsReference="1"
                                                                 width="45"
                                                                 class="{f:if(condition: '{specificMaterialItem.name} == \'Vollspan\'', then: 'border-tiger-orange', else: 'border-gray-300')}"
                                                        />
                                                    </div>
                                                </f:for>
                                            </label>
                                        </f:then>
                                        <f:else>
                                            <f:form.radio class="d-none" id="specificMaterialItemGlas" name="spezificMaterial"
                                                          value="{specificMaterialItem.materialWeight}"/>
                                        </f:else>
                                    </f:if>

                                </f:for>
                            </div>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </f:section>

    <f:section name="measure">
        <div class="card mb-3">
            <div class="card-header" role="tab" id="measure">
                <h5 class="mb-0">
                    <a class="d-block" data-toggle="collapse" href="#collapseMeasure" aria-expanded="true" aria-controls="collapseMeasure">
                        Maße
                    </a>
                </h5>
            </div>

            <div id="collapseMeasure" class="collapse show" role="tabpanel" aria-labelledby="measure" data-parent="#productFinderAccordion">
                <div class="card-body">

                    <div class="form-group">
                        <label for="wingCountInput">Anzahl Flügel: <span id="wingCountSpan"></span></label>
                        <f:form.textfield class="d-none input-text" name="wingCount" id="wingCountInput"/>
                        <div id="wingCountSlider"></div>
                    </div>

                    <div class="form-group">
                        <label for="doorWidthInput">Tür-Breite: <span id="doorWidthSpan"></span> mm</label>
                        <f:form.textfield class="d-none input-text" name="doorWidth" id="doorWidthInput"/>
                        <div id="doorWidthSlider"></div>
                    </div>

                    <div class="form-group">
                        <label for="doorHeightInput">Tür-Höhe: <span id="doorHeightSpan"></span> mm</label>
                        <f:form.textfield class="d-none input-text" name="doorHeight" id="doorHeightInput"/>
                        <div id="doorHeightSlider"></div>
                    </div>

                    <div class="form-group">
                        <label for="doorThicknessInput">Türblatt-Dicke: <span id="doorThicknessSpan"></span> mm</label>
                        <f:form.textfield class="d-none input-text" name="doorThickness" id="doorThicknessInput"/>
                        <div id="doorThicknessSlider"></div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="doorWeightInput">Tür-Gewicht: <span id="doorWeightSpan"></span> kg</label>
                                <f:form.textfield class="d-none input-text" name="doorWeight" id="doorWeightInput"/>
                            </div>
                            <div class="col ml-4">
                                <f:form.checkbox class="form-check-input" name="automaticCompute" id="automaticCompute" value="1" checked="true"/>
                                automatisch
                            </div>
                        </div>


                        <div id="doorWeightSlider"></div>
                    </div>


                </div>

            </div>
        </div>
    </f:section>

    <f:section name="design">
        <div class="card mb-3">
            <div class="card-header" role="tab" id="design">
                <h5 class="mb-0">
                    <a class="d-block" data-toggle="collapse" href="#collapseDesign" aria-expanded="true" aria-controls="collapseDesign">
                        Verblendung / Optik
                    </a>
                </h5>
            </div>

            <div id="collapseDesign" class="collapse show" role="tabpanel" aria-labelledby="design"
                 data-parent="#productFinderAccordion">
                <div class="card-body">
                    <div class="d-flex justify-content-around">
                        <label class="btn  px-1">
                            <f:form.radio class="d-none" name="design" value="customer"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="bauseitige Verkleidung">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault100}">
                            </div>
                        </label>
                        <label class="btn px-1">
                            <f:form.radio class="d-none" name="design" value="alu"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Alu-Schiene">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault100}">
                            </div>
                        </label>
                        <label class="btn px-1">
                            <f:form.radio class="d-none" name="design" value="design"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Design-Beschlag">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault100}">
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </f:section>

    <f:section name="configuration">

        <div class="card mb-3">
            <div class="card-header" role="tab" id="configuration">
                <h5 class="mb-0">
                    <a class="d-block" data-toggle="collapse" href="#collapseConfiguration" aria-expanded="true" aria-controls="collapseConfiguration">
                        Ausstattung
                    </a>
                </h5>
            </div>

            <div id="collapseConfiguration" class="collapse show" role="tabpanel" aria-labelledby="configuration"
                 data-parent="#productFinderAccordion">

                <div class="soft-close-automatic card-body">
                    <div class="d-flex justify-content-around">

                        <label class="btn soft-close px-1">
                            <f:form.checkbox class="d-none" name="soft-close" value="1"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Dämpfung">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault100}">
                            </div>
                        </label>
                        <label class="btn et3 px-1">
                            <f:form.checkbox class="d-none" name="et3" value="1"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Automatic ET3">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault100}">
                            </div>
                        </label>
                        <label class="btn t-fold px-1">
                            <f:form.checkbox class="d-none" name="t-fold" value="1"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Falttür T-Fold">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault100}">
                            </div>
                        </label>
                    </div>

                    <div class="telescope-synchron ">
                        <div class="d-flex justify-content-around">

                            <label class="btn two-wings px-1">
                                <f:form.checkbox class="d-none" name="synchron" value="1" disabled="disabled"/>
                                <div data-toggle="tooltip" data-placement="bottom" title="Synchron">
                                    <img class="border-gray-300" src="{settings.placeholder.imageDisabled100}">
                                </div>
                            </label>
                            <label class="btn two-wings px-1">
                                <f:form.checkbox class="d-none" name="telescop2" value="1" disabled="disabled"/>
                                <div data-toggle="tooltip" data-placement="bottom" title="Teleskop 2-fach">
                                    <img class="border-gray-300" src="{settings.placeholder.imageDisabled100}">
                                </div>
                            </label>
                            <label class="btn three-wings px-1">
                                <f:form.checkbox class="d-none" name="telescop3" value="1" disabled="disabled"/>
                                <div data-toggle="tooltip" data-placement="bottom" title="Teleskop 3-fach">
                                    <img class="border-gray-300" src="{settings.placeholder.imageDisabled100}">
                                </div>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </f:section>

    <f:section name="montage">

        <div class="card">
            <div class="card-header" role="tab" id="montage">
                <h5 class="mb-0">
                    <a class="d-block" data-toggle="collapse" href="#collapseMontage" aria-expanded="true" aria-controls="collapseMontage">
                        Montage
                    </a>
                </h5>
            </div>

            <div id="collapseMontage" class="collapse show" role="tabpanel" aria-labelledby="montage"
                 data-parent="#productFinderAccordion">
                <div class="card-body">
                    <div class="d-flex justify-content-around">
                        <label class="btn">
                            <f:form.radio class="d-none" name="montage" value="wall"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Wand-Montage">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault150}">
                            </div>
                        </label>
                        <label class="btn">
                            <f:form.radio class="d-none" name="montage" value="ceiling"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Decken-Montage">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault150}">
                            </div>
                        </label>

                    </div>
                    <div class="d-flex justify-content-around">

                        <label class="btn">
                            <f:form.radio class="d-none" name="montageWall" value="ahead"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="Vor der Wand">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault150}">
                            </div>
                        </label>
                        <label class="btn">
                            <f:form.radio class="d-none" name="montageWall" value="in"/>
                            <div data-toggle="tooltip" data-placement="bottom" title="In der Wand">
                                <img class="border-gray-300" src="{settings.placeholder.imageDefault150}">
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </f:section>

    <f:section name="list">

        <div class="bg-gray-100 border-gray-300 py-1 mb-3 text-center">
            <h3 class="ajax-list-products-count"></h3>
            <div id="loadingImage" class="text-center">
                <img alt="AjaxLoader" src="typo3conf/ext/gjo_introduction/Resources/Public/Icons/ajax-loader.gif" width="20" height="20">
            </div>
        </div>


        <div class="ajax-lists-products"></div>
    </f:section>


</div>
