<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">

        <f:render section="javaScriptInternal" arguments="{_all}"/>
        <f:render section="javaScriptExternal"/>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <f:render section="filter" arguments="{_all}"/>
                </div>
                <div class="col-8">
                    <f:render section="list" arguments="{_all}"/>
                </div>
            </div>
        </div>

    </f:section>

    <f:section name="javaScriptInternal">
        <script type="text/javascript">
            var ajaxListProductsOffset = '{settings.ajaxListProducts.offset}';
            var ajaxListProductsLimit = parseInt('{settings.ajaxListProducts.limit}');
        </script>

        <f:for each="{specificMaterial}" as="spezificMaterialItem">
            <script type="text/javascript">
                var specificMaterialWeight_{spezificMaterialItem.uid} = '{spezificMaterialItem.materialWeight}';
            </script>
        </f:for>


    </f:section>

    <f:section name="javaScriptExternal">
        <v:asset.script name="loadAjaxList.js"
                        path="{v:extension.path.resources(path: 'Component/LoadAjaxList/loadAjaxList.js', extensionName: 'gjo_boilerplate')}"
                        external="true"
                        standalone="true"
                        movable="1"
                        dependencies="jquery-3.2.1.min.js"
        />
        <v:asset.script name="noUISlider.js"
                        path="{v:extension.path.resources(path: 'Component/noUISlider/noUISlider.js', extensionName: 'gjo_boilerplate')}"
                        external="true"
                        standalone="true"
                        movable="1"
        />
    </f:section>

    <f:section name="filter">
        <div id="productFinderAccordion" role="tablist">
            <f:form id="productFinder" action="productFinder">
                <f:render section="material" arguments="{_all}"/>
                <f:render section="measure" arguments="{_all}"/>
            </f:form>
        </div>
    </f:section>

    <f:section name="material">
        <div class="card">
            <div class="card-header" role="tab" id="material">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseMaterial" aria-expanded="true" aria-controls="collapseMaterial">
                        Material
                    </a>
                </h5>
            </div>

            <div id="collapseMaterial" class="collapse show" role="tabpanel" aria-labelledby="material"
                 data-parent="#productFinderAccordion">
                <div class="card-body">
                    <div class="btn-group btn-group-justified">
                        <label class="btn">
                            <input class="d-none" type="radio" name="material" value="wood" checked="checked">
                            <img class="radio-icon border-tiger-orange"
                                 src="fileadmin/user_upload/productgroup/accessory_kit/icon_sidestop_holz_1_1.jpg" width="145" alt="Holz">
                        </label>
                        <label class="btn">
                            <input class="d-none" type="radio" name="material" value="glas">
                            <img class="radio-icon"
                                 src="fileadmin/user_upload/productgroup/accessory_kit/icon_glas_1_1.jpg" width="145" alt="Glas">
                        </label>
                    </div>
                    <f:debug inline="false" title="">{_all}</f:debug>
                    <f:if condition="{specificMaterial}">
                        <div class="specific-material">
                            <div class="d-flex justify-content-around">
                                <f:for each="{specificMaterial}" as="specificMaterialItem" iteration="iteration">
                                    <label class="btn p-0">
                                        <f:form.radio class="d-none" name="spezificMaterial" value="{specificMaterialItem.uid}" checked="{f:if(condition: '{specificMaterialItem.name} == \'Röhrenspan\'', then: '1', else: '0')}"/>
                                        <f:for each="{specificMaterialItem.image}" as="image">
                                            <f:image src="{image.uid}"
                                                     treatIdAsReference="1"
                                                     width="45"
                                                     class="{f:if(condition: '{specificMaterialItem.name} == \'Röhrenspan\'', then: 'border-tiger-orange', else: 'border-gray-300')}"
                                            />
                                        </f:for>
                                    </label>
                                </f:for>
                            </div>
                        </div>
                    </f:if>
                </div>
            </div>
        </div>
    </f:section>

    <f:section name="measure">
        <div class="card">
            <div class="card-header" role="tab" id="measure">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseMeasure" aria-expanded="true" aria-controls="collapseMeasure">
                        Maße
                    </a>
                </h5>
            </div>

            <div id="collapseMeasure" class="collapse show" role="tabpanel" aria-labelledby="measure" data-parent="#productFinderAccordion">
                <div class="card-body">

                    <div class="form-group">
                        <label for="wingCountInput">Anzahl Flügel: <span id="wingCountSpan"></span></label>
                        <input type="text" class="d-none input-text" name="wingCount" id="wingCountInput">
                        <div id="wingCountSlider"></div>
                    </div>

                    <div class="form-group">
                        <label for="doorWidthInput">Tür-Breite: <span id="doorWidthSpan"></span> mm</label>
                        <input type="text" class="d-none input-text" name="doorWidth" id="doorWidthInput">
                        <div id="doorWidthSlider"></div>
                    </div>

                    <div class="form-group">
                        <label for="doorHeightInput">Tür-Höhe: <span id="doorHeightSpan"></span> mm</label>
                        <input type="text" class="d-none input-text" name="doorHeight" id="doorHeightInput">
                        <div id="doorHeightSlider"></div>
                    </div>

                    <div class="form-group">
                        <label for="doorThicknessInput">Türblatt-Dicke: <span id="doorThicknessSpan"></span> mm</label>
                        <input type="text" class="d-none input-text" name="doorThickness" id="doorThicknessInput">
                        <div id="doorThicknessSlider"></div>
                    </div>
                    <div class="form-group">
                        <label for="doorWeightInput">Tür-Gewicht: <span id="doorWeightSpan"></span> kg</label>
                        <input type="text" class="d-none input-text" name="doorWeight" id="doorWeightInput">
                        <div id="doorWeightSlider"></div>
                    </div>

                </div>

            </div>
        </div>
    </f:section>

    <f:section name="list">
        <f:render partial="Utilities/Headline"
                  section="h2"
                  arguments="{
                              content: ' '
                              }"/>
        <div id="loadingImage" class="text-center">
            <img alt="AjaxLoader" src="typo3conf/ext/gjo_introduction/Resources/Public/Icons/ajax-loader.gif" width="20" height="20">
        </div>
        <div class="ajax-lists-products"></div>
    </f:section>


</div>
