<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">

        <f:render section="javaScriptExternal"/>

        <div class="product-set">
            <f:render section="startTeaser" arguments="{_all}"/>
            <f:render section="carouselEngineeringDrawings" arguments="{_all}"/>
            <f:render section="carouselProducts" arguments="{_all}"/>
            <f:render section="variants" arguments="{_all}"/>
            <f:render section="technicalnots" arguments="{_all}"/>
            <f:render section="downloads" arguments="{productSet: productSet, accordionId: 'productSetaccordion'}"/>
            <f:render section="productGroupLinks" arguments="{_all}"/>
        </div>

        <f:if condition="{productSet.productSets}">
            <f:render section="accessoryKitHeadline"/>
            <f:render section="accessoryKitNavTabs" arguments="{_all}"/>
            <f:render section="accessoryKitTabPanes" arguments="{_all}"/>
        </f:if>

    </f:section>

    <f:section name="javaScriptExternal">
        <v:asset.script name="addToCartAjax.js"
                        path="{v:extension.path.resources(path: 'Component/Shop/addToCartAjax.js', extensionName: 'gjo_boilerplate')}"
                        external="true"
                        standalone="true"
                        movable="1"
                        dependencies="jquery-3.2.1.min.js"
        />
        <v:asset.script name="handleAnchorLinks.js"
                        path="{v:extension.path.resources(path: 'Component/Products/handleAnchorLinks.js', extensionName: 'gjo_boilerplate')}"
                        external="true"
                        standalone="true"
                        movable="1"
                        dependencies="jquery-3.2.1.min.js"
        />
    </f:section>

    <f:section name="startTeaser">

        <div class="skin-black">

            <f:if condition="{productSet.anchor}">
                <f:then>
                    <h1>
                        <a href="{f:uri.page()}#{productSet.anchor}" class="accessoryKit-anchor">
                            {productSet.name}
                        </a>
                    </h1>
                </f:then>
                <f:else>
                    <h1>
                        {productSet.name}
                    </h1>
                </f:else>
            </f:if>

            <div class="product-set-detail">
                <div class="card">
                    <div class="view">
                        <f:for each="{productSet.image}" as="image" iteration="iteration">
                            <f:if condition="{iteration.cycle} == '1' ">
                                <gjoSe:media.media file="{image}"
                                                   class="img-fluid"
                                                   alt="{productSet.header}"
                                                   width="720"
                                                   breakpoints="{
                                                                0: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 640}},
                                                                1: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 720}},
                                                                2: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 540}},
                                                                3: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 350}}
                                         		}"/>
                            </f:if>
                        </f:for>
                    </div>
                </div>

                <div class="card-body">
                    <h3>
                        {productSet.name}
                    </h3>
                    <f:format.raw>
                        {productSet.description}
                    </f:format.raw>
                </div>
            </div>
        </div>

    </f:section>

    <f:section name="carouselEngineeringDrawings">

        <f:if condition="{productSet.imageEngineeringDrawing}">

            <!--Config Start-->
            <v:variable.set name="carouselOptions"
                            value="{
                        0: 'fade',
                        1: 'loop',
                        2: 'pause'
                    }"/>
            <v:variable.set name="carouselCountItems"
                            value="{
                         0 : 'xs-1',
                         1 : 'sm-1',
                         2 : 'md-1',
                         3 : 'lg-1',
                         4 : 'xl-1'
                    }"/>
            <v:variable.set name="carousel"
                            value="{
                         caption_position : 'below',
                         caption_css_class : '',
                         header_layout : '3',
                         header_css_class : '',
                         bodytext_css_class: '',
                         button_wrap_css_class: '',
                         button_css_class: 'float-right',
                         indicator_type: 'numbers',
                         control_type: 'none',
                         card_css_class: ''
                    }"/>

            <v:variable.set name="carousel_uid" value="imageEngineeringDrawing_{productSet.uid}"/>

            <!--Config End-->

            <v:variable.set name="intervall" value="5000"/>
            <v:variable.set name="xs-display" value="none"/>
            <v:variable.set name="sm-display" value="none"/>
            <v:variable.set name="md-display" value="none"/>
            <v:variable.set name="lg-display" value="none"/>
            <v:variable.set name="xl-display" value="none"/>

            <f:for each="{carouselOptions}" as="carouselOption">
                <f:switch expression="{carouselOption}">
                    <f:case value="intervall-0">
                        <v:variable.set name="intervall" value="0"/>
                    </f:case>
                    <f:case value="intervall-2500">
                        <v:variable.set name="intervall" value="2500"/>
                    </f:case>
                </f:switch>

                <f:if condition="{carouselOption} == 'ride' ">
                    <v:variable.set name="ride" value="true"/>
                </f:if>
                <f:if condition="{carouselOption} == 'pause' ">
                    <v:variable.set name="pause" value="true"/>
                </f:if>
                <f:if condition="{carouselOption} == 'fade' ">
                    <v:variable.set name="fade" value="true"/>
                </f:if>
                <f:if condition="{carouselOption} == 'loop' ">
                    <v:variable.set name="loop" value="true"/>
                </f:if>
                <f:if condition="{carouselOption} == 'show_thumbnails' ">
                    <v:variable.set name="show_thumbnails" value="true"/>
                </f:if>
            </f:for>

            <f:if condition="{carouselOption} == 'ride' ">
                <v:variable.set name="ride" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'pause' ">
                <v:variable.set name="pause" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'fade' ">
                <v:variable.set name="fade" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'loop' ">
                <v:variable.set name="loop" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'show_thumbnails' ">
                <v:variable.set name="show_thumbnails" value="true"/>
            </f:if>

            <v:variable.set name="data" value="{uid: carousel_uid}"/>

            <div class="skin-gray">
                <h2>Abbildungen & Technische Zeichnungen</h2>

                <v:variable.set name="records"
                                value="{gjoSe:GetMappedImageEngineeringDrawingRecordsToCERecords(imageEngineeringDrawings: productSet.imageEngineeringDrawing)}"/>
                <f:render partial="ContentElements/Carousel/Carousel-col-12" arguments="{_all}"/>
            </div>
        </f:if>
    </f:section>

    <f:section name="carouselProducts">

        <!--Config Start-->
        <v:variable.set name="carouselOptions"
                        value="{
                        0: 'fade',
                        1: 'loop',
                        2: 'pause'
                    }"/>
        <v:variable.set name="carouselCountItems"
                        value="{
                         0 : 'xs-1',
                         1 : 'sm-1',
                         2 : 'md-1',
                         3 : 'lg-1',
                         4 : 'xl-1'
                    }"/>
        <v:variable.set name="carousel"
                        value="{
                         caption_position : 'below',
                         caption_css_class : '',
                         header_layout : '3',
                         header_css_class : '',
                         bodytext_css_class: '',
                         button_wrap_css_class: '',
                         button_css_class: 'float-right',
                         indicator_type: 'numbers',
                         control_type: 'none',
                         card_css_class: ''
                    }"/>

        <v:variable.set name="carousel_uid" value="carouselProducts_{productSet.uid}"/>

        <!--Config End-->

        <v:variable.set name="intervall" value="5000"/>
        <v:variable.set name="xs-display" value="none"/>
        <v:variable.set name="sm-display" value="none"/>
        <v:variable.set name="md-display" value="none"/>
        <v:variable.set name="lg-display" value="none"/>
        <v:variable.set name="xl-display" value="none"/>

        <f:for each="{carouselOptions}" as="carouselOption">
            <f:switch expression="{carouselOption}">
                <f:case value="intervall-0">
                    <v:variable.set name="intervall" value="0"/>
                </f:case>
                <f:case value="intervall-2500">
                    <v:variable.set name="intervall" value="2500"/>
                </f:case>
            </f:switch>

            <f:if condition="{carouselOption} == 'ride' ">
                <v:variable.set name="ride" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'pause' ">
                <v:variable.set name="pause" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'fade' ">
                <v:variable.set name="fade" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'loop' ">
                <v:variable.set name="loop" value="true"/>
            </f:if>
            <f:if condition="{carouselOption} == 'show_thumbnails' ">
                <v:variable.set name="show_thumbnails" value="true"/>
            </f:if>
        </f:for>

        <f:if condition="{carouselOption} == 'ride' ">
            <v:variable.set name="ride" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'pause' ">
            <v:variable.set name="pause" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'fade' ">
            <v:variable.set name="fade" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'loop' ">
            <v:variable.set name="loop" value="true"/>
        </f:if>
        <f:if condition="{carouselOption} == 'show_thumbnails' ">
            <v:variable.set name="show_thumbnails" value="true"/>
        </f:if>

        <v:variable.set name="data" value="{uid: carousel_uid}"/>

        <div class="skin-white">
            <h2>Produkte</h2>

            <f:if condition="{productSet.products}">
                <v:variable.set name="records" value="{gjoSe:GetMappedProductRecordsToCERecords(products: productSet.products)}"/>
                <f:render partial="ContentElements/Carousel/Carousel-col-12" arguments="{_all}"/>
            </f:if>

        </div>


    </f:section>

    <f:section name="variants">

        <div class="skin-black product-set-variants">
            <h2>{f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.variants')}</h2>

            <f:for each="{productSet.productSetVariantGroups}" as="productSetVariantGroup">
                <f:for each="{productSetVariantGroup.productSetVariants}" as="productSetVariant">

                    <div class="card px-16 pb-32">
                        <div class="card-body">
                            <h4 class="card-title">
                                {productSet.name}
                            </h4>
                            <div class="d-none alert alert-success alert-success-add-to-cart" role="alert">
                                Der Artikel wurde erfolgreich in den Warenkorb gelegt.
                            </div>
                            <p class="pb-0">{productSetVariant.name} </p>
                            <p class="pb-0">
                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.article_number')}:
                                {productSetVariant.articleNumber}</p>

                            <div class="d-flex">
                                <p class="pb-8">
                                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.price')}
                                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.{gjoSe:feUser.vatText()}')}
                                    <f:if condition="{gjoSe:feUser.discount()}">
                                        |
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.discount')}:
                                        {gjoSe:feUser.discount() -> f:format.currency(decimalSeparator:',', thousandsSeparator: '.',
                                        currencySign: '%')}
                                    </f:if>
                                </p>
                                <div class="ml-auto">
                                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.add_to_cart')}
                                </div>
                            </div>

                            <div class="d-flex product-set-price pb-16">
                                <f:if condition="{productSetVariant.price}">
                                    <f:then>
                                        <p class="p-0 py-8">{gjoSe:feUser.vatPrice(productSetVariant: '{productSetVariant}') ->
                                            f:format.currency(decimalSeparator:',', thousandsSeparator: '.', currencySign: '€')}</p>
                                    </f:then>
                                    <f:else>
                                        <p class="p-0">auf Anfrage</p>
                                    </f:else>
                                </f:if>
                                <div class="ml-auto">
                                    <div class="input-group">
                                        <f:form.hidden class="productSetVariantUid" name="productSetVariantUid"
                                                       value="{productSetVariant.uid}"/>
                                        <f:form.textfield type="number"
                                                          class="quantity form-control py-16 text-right"
                                                          value="1"
                                                          additionalAttributes="{
                                                                        min:1,
                                                                        max:9,
                                                                        step:1
                                                        }"/>

                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">
                                <button class="btn add-to-cart-button float-right" type="submit">In den Warenkorb</button>
                            </div>
                        </div>
                    </div>
                </f:for>
            </f:for>
        </div>

    </f:section>

    <f:section name="technicalnots">

        <f:if condition="{productSet.showTechnicalnots}">
            <f:then>

                <div class="skin-gray">
                    <h2 id="technik">
                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots')}
                    </h2>

                    <div class="accordion md-accordion accordion-technicalnots px-16 pb-32" id="accordion-technicalnots" role="tablist"
                         aria-multiselectable="true">

                        <f:if condition="{productSet.showTechnicalnots}">
                            <div class="card">
                                <div class="card-header p-0 px-16" role="tab" id="header-technicalnots-technicalnots">
                                    <a data-toggle="collapse" data-parent="#accordion-technicalnots"
                                       href="#body-technicalnots-technicalnots"
                                       aria-expanded="false" aria-controls="body-technicalnots-technicalnots">
                                        <h4 class="pt-16 pb-12">
                                            Technische Hinweise <i class="fa fa-angle-down rotate-icon"></i>
                                        </h4>
                                    </a>
                                </div>

                                <div id="body-technicalnots-technicalnots" class="collapse" role="tabpanel"
                                     aria-labelledby="header-technicalnots-technicalnots" data-parent="#accordion-technicalnots">
                                    <div class="card-body py-12">
                                        <f:if condition="{productSet.maximumDoorWeight}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.maximumDoorWeight')}
                                                <div class="ml-auto">
                                                    {productSet.maximumDoorWeight} kg
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.height}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.height')}
                                                <div class="ml-auto">
                                                    {productSet.height}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.minimumDoorWidth}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidth')}
                                                <div class="ml-auto">
                                                    {productSet.minimumDoorWidth} mm
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.minimumDoorWidthSoftClose}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidthSoftClose')}
                                                <div class="ml-auto">
                                                    {productSet.minimumDoorWidthSoftClose} mm
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.minimumDoorWidthSoftCloseLong}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidthSoftCloseLong')}
                                                <div class="ml-auto">
                                                    {productSet.minimumDoorWidthSoftCloseLong} mm
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.minimumDoorWidthSoftCloseBoth}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidthSoftCloseBoth')}
                                                <div class="ml-auto">
                                                    {productSet.minimumDoorWidthSoftCloseBoth} mm
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.maximumDoorWidth}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.maximumDoorWidth')}
                                                <div class="ml-auto">
                                                    {productSet.maximumDoorWidth} mm
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.minimumDoorThickness}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorThickness')}
                                                <div class="ml-auto">
                                                    {productSet.minimumDoorThickness} mm
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.maximumDoorThickness}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.maximumDoorThickness')}
                                                <div class="ml-auto">
                                                    {productSet.maximumDoorThickness} mm
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.voltage}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.voltage')}
                                                <div class="ml-auto">
                                                    {productSet.voltage}
                                                </div>
                                            </div>
                                        </f:if>
                                    </div>
                                </div>

                            </div>


                        </f:if>

                        <f:if condition="{productSet.showDin}">

                            <div class="card">
                                <div class="card-header p-0 px-16" role="tab" id="header-technicalnots-din">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-technicalnots"
                                       href="#body-technicalnots-din" aria-expanded="false" aria-controls="body-technicalnots-din">
                                        <h4 class="py-12">
                                            DIN EN 1527 <i class="fa fa-angle-down rotate-icon"></i>
                                        </h4>
                                    </a>
                                </div>

                                <div id="body-technicalnots-din" class="collapse" role="tabpanel" aria-labelledby="header-technicalnots-din"
                                     data-parent="#accordion-technicalnots">
                                    <div class="card-body py-12">
                                        <f:if condition="{productSet.useCategorie}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.useCategorie')}
                                                <div class="ml-auto">
                                                    {productSet.useCategorie}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.durability}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.durability')}
                                                <div class="ml-auto">
                                                    {productSet.durability}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.doorWeight}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.doorWeight')}
                                                <div class="ml-auto">
                                                    {productSet.doorWeight}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.fireResistance} || {productSet.fireResistance} == 0">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.fireResistance')}
                                                <div class="ml-auto">
                                                    {productSet.fireResistance}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.safety}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.safety')}
                                                <div class="ml-auto">
                                                    {productSet.safety}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.corrosionResistance} || {productSet.corrosionResistance} == 0">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.corrosionResistance')}
                                                <div class="ml-auto">
                                                    {productSet.corrosionResistance}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.security}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.security')}
                                                <div class="ml-auto">
                                                    {productSet.security}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.doorType}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.doorType')}
                                                <div class="ml-auto">
                                                    {productSet.doorType}
                                                </div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{productSet.initialFriction}">
                                            <div class="d-flex">
                                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.initialFriction')}
                                                <div class="ml-auto">
                                                    {productSet.initialFriction}
                                                </div>
                                            </div>
                                        </f:if>
                                    </div>
                                </div>
                            </div>
                        </f:if>

                        <f:if condition="{productSet.invitationToTender}">
                            <div class="card">
                                <div class="card-header p-0 px-16" role="tab" id="header-technicalnots-invitationToTender">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-technicalnots"
                                       href="#body-technicalnots-invitationToTender" aria-expanded="false"
                                       aria-controls="body-technicalnots-invitationToTender">
                                        <h4 class="py-12 border-0">
                                            Ausschreibungstext <i class="fa fa-angle-down rotate-icon"></i>
                                        </h4>
                                    </a>
                                </div>

                                <div id="body-technicalnots-invitationToTender" class="collapse" role="tabpanel"
                                     aria-labelledby="header-technicalnots-invitationToTender" data-parent="#accordion-technicalnots">
                                    <div class="card-body py-12">
                                        <f:format.raw>{productSet.invitationToTender}</f:format.raw>
                                    </div>
                                </div>

                            </div>
                        </f:if>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="skin-gray pb-32"></div>
            </f:else>
        </f:if>
    </f:section>

    <f:section name="downloads">

        <f:if condition="{productSet.download} || {productSet.downloadEngineeringDrawing}">

            <div class="skin-gray">
                <h2 class="pt-0">
                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.downloads')}
                </h2>

                <div class="accordion md-accordion accordion-downloads px-16 pb-32" id="accordion-downloads_{accordionId}" role="tablist"
                     aria-multiselectable="true">

                    <f:if condition="{productSet.download}">

                        <div class="card">
                            <div class="card-header p-0 px-16" role="tab" id="header-downloads_productInformation_{accordionId}">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-downloads_{accordionId}"
                                   href="#body-downloads_productInformation_{accordionId}" aria-expanded="false"
                                   aria-controls="body-downloads_productInformation_{accordionId}">
                                    <h4 class="py-12">
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.downloads.productInformation')}
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </h4>
                                </a>
                            </div>

                            <div id="body-downloads_productInformation_{accordionId}" class="collapse" role="tabpanel"
                                 aria-labelledby="header-downloads_productInformation_{accordionId}"
                                 data-parent="#accordion-downloads_{accordionId}">
                                <div class="card-body py-12">
                                    <f:for each="{productSet.download}" as="file">
                                        <div class="d-flex">
                                            <a href="{file.originalResource.publicUrl}" target="_blank">
                                                {file.originalResource.title} &#8599;
                                            </a>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </div>

                    </f:if>

                    <f:if condition="{productSet.downloadEngineeringDrawing}">
                        <div class="card">
                            <div class="card-header p-0 px-16" role="tab" id="header-downloads_engineeringDrawing_{accordionId}">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-engineeringDrawing_{accordionId}"
                                   href="#body-downloads_engineeringDrawing_{accordionId}" aria-expanded="false"
                                   aria-controls="body-downloads_engineeringDrawing_{accordionId}">
                                    <h4 class="py-12 border-0">
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.downloads.downloadEngineeringDrawing')}
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </h4>
                                </a>
                            </div>

                            <div id="body-downloads_engineeringDrawing_{accordionId}" class="collapse" role="tabpanel"
                                 aria-labelledby="header-downloads_engineeringDrawing_{accordionId}"
                                 data-parent="#accordion-downloads_{accordionId}">
                                <div class="card-body py-12">
                                    <f:for each="{productSet.downloadEngineeringDrawing}" as="file">
                                        <div class="d-flex">
                                            <a href="{file.originalResource.publicUrl}" target="_blank">
                                                {file.originalResource.title} &#8599;
                                            </a>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </div>
                    </f:if>
                </div>
            </div>
        </f:if>
    </f:section>

    <f:section name="productGroupLinks">

        <f:if condition="{productGroup.productSetTypes -> f:count()} > 1">
            <div class="skin-gray">
                <h2 class="pt-0">
                    {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.productGroupLinks')}
                </h2>

                <div class="accordion md-accordion accordion-productGroup px-16 pb-32" id="accordion-productGroup" role="tablist"
                     aria-multiselectable="true">
                    <f:for each="{productGroup.productSetTypes}" as="productSetType" iteration="iteration">

                        <div class="card">
                            <div class="card-header p-0 px-16" role="tab" id="header-productGroup_{productSetType.uid}">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-productGroup"
                                   href="#body-productGroup_{productSetType.uid}" aria-expanded="false"
                                   aria-controls="body-productGroup_{productSetType.uid}">
                                    <h4 class="py-12 {f:if(condition: iteration.isLast, then:'border-0')}">
                                        {productSetType.name}
                                        <i class="fa fa-angle-down rotate-icon"></i>
                                    </h4>
                                </a>
                            </div>

                            <div id="body-productGroup_{productSetType.uid}" class="collapse" role="tabpanel"
                                 aria-labelledby="header-productGroup_{productSetType.uid}" data-parent="#accordion-productGroup">
                                <div class="card-body py-12">

                                    <f:for each="{productSetType.productSets}" as="productSet">
                                        <div class="d-flex">
                                            <f:link.page pageUid="{productSet.pages.uid}">
                                                {productSet.name} &#8599;
                                            </f:link.page>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </div>
                    </f:for>

                </div>
            </div>
        </f:if>
    </f:section>

    <f:section name="accessoryKitHeadline">
        <div class="skin-gray">
            <h2 class="pt-0" id="accessoryKitHeadline">
                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.accessoryKit')}
            </h2>
        </div>
    </f:section>

    <f:section name="accessoryKitNavTabs">
        <div class="skin-gray">
            <div class="accessoryKitNavTabs px-16 pb-32">

                <div class="card nav" id="accessoryKit" role="tablist">
                    <f:for each="{productSet.productSets}" as="accessoryKit" iteration="iteration">
                        <div class="card-header accessoryKit-item border-0 py-0 pl-16 pr-12">
                            <h4 class="{f:if(condition: iteration.isLast, then:'border-0')}">
                                <a href="#{accessoryKit.anchor}" class="nav-link p-0 accessoryKit-anchor" aria-controls="{accessoryKit.anchor}" role="tab"
                                   data-toggle="tab">
                                    <f:for each="{accessoryKit.icon}" as="image">
                                        <div class="d-flex">
                                            <div class="accessoryKit-text font-size-16 py-16">
                                                <span>{image.originalResource.title}</span>
                                            </div>
                                            <div class="ml-auto py-12">
                                                <gjoSe:media.media file="{image}"
                                                                   class="img-fluid border-gray-200"
                                                                   alt="{productGroup.header}"
                                                                   width="40"
                                                                   breakpoints="{
                                                                    0: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 120}},
                                                                    1: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 120}},
                                                                    2: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 120}},
                                                                    3: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 40}}
                                            }"/>
                                            </div>
                                        </div>
                                    </f:for>
                                </a>
                            </h4>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>

    </f:section>

    <f:section name="accessoryKitTabPanes">
        <div class="tab-content p-0" id="accessoryKitTabPanesContent">
            <f:for each="{productSet.productSets}" as="accessoryKit">
                <f:render section="accessoryKitTabPanesContent" arguments="{accessoryKit: accessoryKit}"/>
            </f:for>
        </div>
    </f:section>

    <f:section name="accessoryKitTabPanesContent">

        <div role="tabpanel" class="tab-pane fade" id="{accessoryKit.anchor}">

            <f:render section="startTeaser"
                      arguments="{
                        productSet: accessoryKit,
                        anchor: accessoryKit.anchor
                      }"/>

            <f:render section="carouselEngineeringDrawings" arguments="{_all}"/>


            <f:render section="carouselEngineeringDrawings"
                      arguments="{
                        productSet: accessoryKit,
                        data-fancybox: 'accessoryKit-{accessoryKit.uid}',
                        slider: 'accessory-kit'
                        }"/>

            <f:render section="variants" arguments="{productSet: accessoryKit}"/>
            <f:render section="technicalnots" arguments="{productSet: accessoryKit}"/>
            <f:render section="downloads"
                      arguments="{
                          productSet: accessoryKit,
                          accordionId: 'accessoryKitaccordion_{accessoryKit.uid}'
                      }"/>
        </div>

    </f:section>

</div>
