<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">

        <div class="container mb-32">
            <f:for each="{productGroup.image}" as="image" iteration="iteration">
                <f:if condition="{iteration.cycle} == '2' ">
                    <gjoSe:media.media file="{image}"
                                       class="img-fluid"
                                       alt="{productGroup.header}"
                                       width="1100"
                                       breakpoints="{
                                                    0: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 1100}},
                                                    1: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 720}},
                                                    2: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 540}},
                                                    3: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 350}}
                                         		}"/>
                </f:if>
            </f:for>
        </div>


        <div class="container mb-32">
            <h2 class="text-center mb-32">{productGroup.header}</h2>
            <h3 class="text-center mb-32">{productGroup.subheader}</h3>
            <div class="mb-32">
                <f:format.html>{productGroup.description}</f:format.html>
            </div>
        </div>

        <f:if condition="{productGroup.productSetTypes}">
            <div class="container mb-32">
                <div class="text-center">
                    <h3 class="mb-32">Sofort zum richtigen Produkt:</h3>
                </div>

                <div class="row">
                    <f:for each="{productGroup.productSetTypes}" as="productSetType">
                        <div class="col-12 col-md-6">
                            <h4 class="text-center mb-32">{productSetType.name}</h4>
                            <ul>
                                <f:for each="{productSetType.productSets}" as="productSet">
                                    <li>
                                        <f:link.page pageUid="{productSet.pages.uid}">{productSet.name}</f:link.page>
                                    </li>
                                </f:for>
                            </ul>
                        </div>
                    </f:for>
                </div>
            </div>

        </f:if>

        <div class="container-fluid bg-gray-100 mb-32">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5 order-lg-2">
                        <f:for each="{productGroup.teaserImage}" as="image">
                            <gjoSe:media.media file="{image}"
                                               class="img-fluid"
                                               alt="{productGroup.header}"
                                               width="720"
                                               breakpoints="{
                                                    0: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 570}},
                                                    1: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 720}},
                                                    2: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 540}},
                                                    3: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 350}}
                                         		}"/>
                        </f:for>

                    </div>
                    <div class="col-12 col-lg-7 order-lg-1">
                        <h4 class="text-center pt-16 mb-32">{productGroup.teaserHeader}</h4>
                        <f:format.html>{productGroup.teaserDescription}</f:format.html>
                    </div>
                </div>
            </div>

        </div>

    </f:section>

</div>
