<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">

        <f:render section="description" arguments="{_all}"/>

        <div class="content">
            <div class="container">

                <div class="row">
                    <f:render section="images" arguments="{_all}"/>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <f:render section="variants" arguments="{_all}"/>
                        <f:render section="technicalnots" arguments="{_all}"/>
                    </div>
                    <div class="col-lg-4">
                        <f:render section="downloads" arguments="{productSet: productSet, accordionId: 'productSetaccordion'}"/>
                        <f:render section="productGroupLinks" arguments="{_all}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <f:render section="accessoryKit" arguments="{_all}"/>
                    </div>
                </div>
            </div>
        </div>


    </f:section>

    <f:section name="description">
        <div class="section-header-three">
            <h1>{productSet.name}</h1>
            <f:format.html>{productSet.description}</f:format.html>
        </div>
    </f:section>

    <f:section name="images">

        <div class="col-lg-5">
            <div class="productset-image-main-slider">

                <f:for each="{productSet.image}" as="image">
                    <a class="productset-image-main-fancy" href="{image.originalResource.publicUrl}">
                        <div class="productset-slide">
                            <f:image src="{image.uid}"
                                     treatIdAsReference="1"
                                     width="455c"
                                     height="300"
                            />
                        </div>
                    </a>
                </f:for>

                <f:for each="{productSet.imageEngineeringDrawing}" as="image">
                    <a class="productset-image-main-fancy" href="{image.originalResource.publicUrl}">
                        <div class="productset-slide">
                            <f:image src="{image.uid}"
                                     treatIdAsReference="1"
                                     width="455c"
                                     height="300"
                            />
                        </div>
                    </a>
                </f:for>

            </div>

            <div class="productset-product-main-slider hide">

                <f:for each="{productSet.products}" as="product">
                    <f:for each="{product.image}" as="image">
                        <a class="productset-product-main-fancy"
                           href="{image.originalResource.publicUrl}">
                            <div class="productset-slide">
                                <f:image src="{image.uid}"
                                         treatIdAsReference="1"
                                         width="455c"
                                         height="300"
                                         alt="{product.name} - {product.articleNumber}"
                                />
                                <br/>
                                <p><strong>{product.name}</strong>
                                    <f:if condition="{product.articleNumber}">
                                        - {product.articleNumber}
                                    </f:if>
                                    <f:if condition="{product.additionalInformation}">
                                        , {product.additionalInformation}
                                    </f:if>
                                </p>
                            </div>
                        </a>
                    </f:for>
                </f:for>

            </div>

        </div>

        <div class="col-lg-7">

            <div class="row">
                <div class="col-lg-12">
                    <h4>Abbildungen & Technische Zeichnungen</h4>
                    <div class="productset-image-slider vcenter">

                        <f:for each="{productSet.image}" as="image">
                            <div class="productset-slide">
                                <f:image src="{image.uid}"
                                         treatIdAsReference="1"
                                         height="118"
                                         width="202"
                                         alt="{productSet.name}"
                                />
                            </div>
                        </f:for>

                        <f:for each="{productSet.imageEngineeringDrawing}" as="image">
                            <div class="productset-slide">
                                <f:image src="{image.uid}"
                                         treatIdAsReference="1"
                                         height="118"
                                         width="202"
                                />
                            </div>
                        </f:for>


                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4>Produkte</h4>
                    <div class="productset-product-slider vcenter">

                        <f:for each="{productSet.products}" as="product">
                            <f:for each="{product.image}" as="image">
                                <div class="productset-slide">
                                    <f:image src="{image.uid}"
                                             treatIdAsReference="1"
                                             height="118"
                                             width="202"
                                             alt="{product.name} - {product.articleNumber}"
                                    />
                                </div>
                            </f:for>
                        </f:for>
                    </div>

                </div>
            </div>

        </div>


    </f:section>

    <f:section name="variants">
        <h2 class="border-bottom">
            {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.variants')}</h2>

        <f:for each="{productSet.productSetVariantGroups}" as="productSetVariantGroup">

            <f:if condition="{productSetVariantGroup.headline}">
                <h4>{productSetVariantGroup.headline}</h4>
            </f:if>
            <f:if condition="{productSetVariantGroup.description}">
                <f:format.html>{productSetVariantGroup.description}</f:format.html>
            </f:if>


            <table class="table">
                <thead>
                <tr>
                    <th>{productSetVariantGroup.tableHeadline}<br></th>
                    <th>
                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.article_number')}
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{productSetVariantGroup.productSetVariants}" as="productSetVariant">
                    <tr>
                        <td>{productSetVariant.name}</td>
                        <td>{productSetVariant.articleNumber}</td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:for>
    </f:section>

    <f:section name="technicalnots">
        <f:if condition="{productSet.showTechnicalnots}">
            <h2 class="border-bottom">
                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots')}
            </h2>
        </f:if>

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist" id="technicalnots">
                <f:if condition="{productSet.showTechnicalnots}">
                    <li role="presentation" class="active">
                        <a href="#technical_nots" aria-controls="home" role="tab" data-toggle="tab">
                            Technische Hinweise
                        </a>
                    </li>
                </f:if>
                <f:if condition="{productSet.showDin}">
                    <li role="presentation">
                        <a href="#din" aria-controls="profile" role="tab" data-toggle="tab">
                            DIN EN 1527
                        </a>
                    </li>
                </f:if>
                <f:if condition="{productSet.invitationToTender}">
                    <li role="presentation">
                        <a href="#invitationToTender" aria-controls="messages" role="tab" data-toggle="tab">
                            Ausschreibungstext
                        </a>
                    </li>
                </f:if>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <f:if condition="{productSet.showTechnicalnots}">
                    <div role="tabpanel" class="tab-pane fade in active tab-pane-technicalnots" id="technical_nots">
                        <table>
                            <tbody>
                            <f:if condition="{productSet.maximumDoorWeight}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.maximumDoorWeight')}
                                    </td>
                                    <td>{productSet.maximumDoorWeight}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.height}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.height')}
                                    </td>
                                    <td>{productSet.height}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.doorLeafThickness}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.doorLeafThickness')}
                                    </td>
                                    <td>{productSet.doorLeafThickness}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.minimumDoorWidth}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidth')}
                                    </td>
                                    <td>{productSet.minimumDoorWidth}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.minimumDoorWidthSoftClose}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidthSoftClose')}
                                    </td>
                                    <td>{productSet.minimumDoorWidthSoftClose}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.minimumDoorWidthSoftCloseLong}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidthSoftCloseLong')}
                                    </td>
                                    <td>{productSet.minimumDoorWidthSoftCloseLong}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.minimumDoorWidthSoftCloseBoth}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.minimumDoorWidthSoftCloseBoth')}
                                    </td>
                                    <td>{productSet.minimumDoorWidthSoftCloseBoth}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.maximumDoorWidth}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.maximumDoorWidth')}
                                    </td>
                                    <td>{productSet.maximumDoorWidth}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.voltage}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.technicalnots.voltage')}
                                    </td>
                                    <td>{productSet.voltage}</td>
                                </tr>
                            </f:if>
                            </tbody>
                        </table>
                    </div>
                </f:if>

                <f:if condition="{productSet.showDin}">
                    <div role="tabpanel" class="tab-pane fade tab-pane-technicalnots" id="din">
                        <table>
                            <tbody>
                            <f:if condition="{productSet.useCategorie}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.useCategorie')}
                                    </td>
                                    <td>{productSet.useCategorie}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.durability}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.durability')}
                                    </td>
                                    <td>{productSet.durability}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.doorWeight}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.doorWeight')}
                                    </td>
                                    <td>{productSet.doorWeight}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.fireResistance}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.fireResistance')}
                                    </td>
                                    <td>{productSet.fireResistance}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.safety}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.safety')}
                                    </td>
                                    <td>{productSet.safety}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.corrosionResistance}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.corrosionResistance')}
                                    </td>
                                    <td>{productSet.corrosionResistance}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.security}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.security')}
                                    </td>
                                    <td>{productSet.security}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.doorType}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.doorType')}
                                    </td>
                                    <td>{productSet.doorType}</td>
                                </tr>
                            </f:if>
                            <f:if condition="{productSet.initialFriction}">
                                <tr>
                                    <td>
                                        {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.din.initialFriction')}
                                    </td>
                                    <td>{productSet.initialFriction}</td>
                                </tr>
                            </f:if>
                            </tbody>
                        </table>
                    </div>
                </f:if>

                <f:if condition="{productSet.invitationToTender}">
                    <div role="tabpanel" class="tab-pane fade tab-pane-technicalnots" id="invitationToTender">
                        <f:format.html>{productSet.invitationToTender}</f:format.html>
                    </div>
                </f:if>

            </div>

        </div>

    </f:section>

    <f:section name="downloads">
        <h2 class="border-bottom">
            {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.downloads')}
        </h2>


        <div class="panel-group" id="{accordionId}" role="tablist" aria-multiselectable="true">

            <f:if condition="{productSet.download}">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading_download_{accordionId}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#{accordionId}" href="#collapse_download_{accordionId}"
                               aria-expanded="true"
                               aria-controls="collapseOne">
                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.downloads.productInformation')}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_download_{accordionId}" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="heading_download_{accordionId}">
                        <div class="panel-body">
                            <ul class="orange-tick">
                                <f:for each="{productSet.download}" as="file">
                                    <li><a href="{file.originalResource.publicUrl}" target="_blank">{file.originalResource.title}</a></li>
                                </f:for>
                            </ul>
                        </div>
                    </div>
                </div>

            </f:if>

            <f:if condition="{productSet.downloadEngineeringDrawing}">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading_downloadEngineeringDrawing_{accordionId}">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#{accordionId}"
                               href="#collapse_downloadEngineeringDrawing_{accordionId}"
                               aria-expanded="false" aria-controls="collapseTwo">
                                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.downloads.downloadEngineeringDrawing')}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_downloadEngineeringDrawing_{accordionId}" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="heading_downloadEngineeringDrawing_{accordionId}">
                        <div class="panel-body">
                            <ul class="orange-tick">
                                <f:for each="{productSet.downloadEngineeringDrawing}" as="file">
                                    <li><a href="{file.originalResource.publicUrl}" target="_blank">{file.originalResource.title}</a></li>
                                </f:for>
                            </ul>
                        </div>
                    </div>
                </div>
            </f:if>

        </div>
    </f:section>

    <f:section name="productGroupLinks">

        <f:if condition="{productGroup.productSetTypes}">
            <h2 class="border-bottom">
                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.productGroupLinks')}
            </h2>


            <div class="panel-group" id="productGroupAccordion" role="tablist" aria-multiselectable="true">
                <f:for each="{productGroup.productSetTypes}" as="productSetType">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading_{productSetType.uid}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#productGroupAccordion"
                                   href="#collapse_{productSetType.uid}" aria-expanded="false"
                                   aria-controls="collapse_{productSetType.uid}">
                                    {productSetType.name}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse_{productSetType.uid}" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="heading_{productSetType.uid}">
                            <div class="panel-body">
                                <ul class="orange-tick">
                                    <f:for each="{productSetType.productSets}" as="productSet">
                                        <li>
                                            <f:link.page pageUid="{productSet.pages.uid}">{productSet.name}</f:link.page>
                                        </li>
                                    </f:for>
                                </ul>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </f:if>


    </f:section>

    <f:section name="accessoryKit">

        <f:if condition="{productSet.productSets}">
            <h2 class="border-bottom" id="accessoryKitHeadline">
                {f:translate(key:'LLL:EXT:gjo_tiger/Resources/Private/Language/locallang.xlf:productSetVariantGroup.accessoryKit')}
            </h2>
        </f:if>

        <!-- Nav tabs -->
        <div class="row">
            <ul class="nav" role="tablist" id="accessoryKit">

                <f:if condition="{productSet.productSets -> f:count()} <= 3 ">
                    <div class="col-lg-4">
                        <f:for each="{productSet.productSets}" as="accessoryKit" iteration="iteration">
                            <f:render section="accessoryKit-item" arguments="{accessoryKit: accessoryKit}"/>
                        </f:for>
                    </div>
                </f:if>

                <f:if condition="({productSet.productSets -> f:count()} > 3) && ({productSet.productSets -> f:count()} <= 6) ">
                    <div class="col-lg-4">
                        <f:for each="{productSet.productSets}" as="accessoryKit" iteration="iteration">
                            <f:if condition="{iteration.cycle} <= 3 ">
                                <f:render section="accessoryKit-item" arguments="{accessoryKit: accessoryKit}"/>
                            </f:if>
                        </f:for>
                    </div>
                    <div class="col-lg-4">
                        <f:for each="{productSet.productSets}" as="accessoryKit" iteration="iteration">
                            <f:if condition="({iteration.cycle} > 3) && {iteration.cycle} <= 6 ">
                                <f:render section="accessoryKit-item" arguments="{accessoryKit: accessoryKit}"/>
                            </f:if>
                        </f:for>
                    </div>
                </f:if>

                <f:if condition="({productSet.productSets -> f:count()} > 6) && ({productSet.productSets -> f:count()} <= 9) ">
                    <div class="col-lg-4">
                        <f:for each="{productSet.productSets}" as="accessoryKit" iteration="iteration">
                            <f:if condition="{iteration.cycle} <= 3 ">
                                <f:render section="accessoryKit-item" arguments="{accessoryKit: accessoryKit}"/>
                            </f:if>
                        </f:for>
                    </div>
                    <div class="col-lg-4">
                        <f:for each="{productSet.productSets}" as="accessoryKit" iteration="iteration">
                            <f:if condition="({iteration.cycle} > 3) && {iteration.cycle} <= 6 ">
                                <f:render section="accessoryKit-item" arguments="{accessoryKit: accessoryKit}"/>
                            </f:if>
                        </f:for>
                    </div>
                    <div class="col-lg-4">
                        <f:for each="{productSet.productSets}" as="accessoryKit" iteration="iteration">
                            <f:if condition="({iteration.cycle} > 6) && {iteration.cycle} <= 9 ">
                                <f:render section="accessoryKit-item" arguments="{accessoryKit: accessoryKit}"/>
                            </f:if>
                        </f:for>
                    </div>
                </f:if>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="row">
            <div class="tab-content">
                <f:for each="{productSet.productSets}" as="accessoryKit">
                    <f:render section="accessoryKit-content" arguments="{accessoryKit: accessoryKit}"/>
                </f:for>
            </div>
        </div>


    </f:section>

    <f:section name="accessoryKit-item">

        <div class="col-lg-4">
            <li role="presentation" class="accessoryKit-item">
                <a href="#id_{accessoryKit.uid}" aria-controls="id_{accessoryKit.uid}" role="tab" data-toggle="tab">
                    <f:for each="{accessoryKit.icon}" as="image">
                        <f:image src="{image.uid}"
                                 treatIdAsReference="1"
                                 class="accessoryKit-icon"
                                 width="120"
                        />
                        <div class="accessoryKit-text">
                            <span>{image.originalResource.title}</span>
                        </div>
                    </f:for>

                </a>
            </li>

        </div>

    </f:section>

    <f:section name="accessoryKit-content">

        <div role="tabpanel" class="tab-pane fade" id="id_{accessoryKit.uid}">
            <f:render section="description" arguments="{productSet: accessoryKit}"/>

            <div class="content">
                <div class="container">
                    <div class="row">
                        <f:render section="images" arguments="{productSet: accessoryKit}"/>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <f:render section="variants" arguments="{productSet: accessoryKit}"/>
                            <f:render section="technicalnots" arguments="{productSet: accessoryKit}"/>
                        </div>
                        <div class="col-lg-4">
                            <f:render section="downloads"
                                      arguments="{productSet: accessoryKit, accordionId: 'accessoryKitaccordion_{accessoryKit.uid}'}"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </f:section>

</div>
