<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">

        <f:if condition="{productGroup}">
            <div class="container">
                <div class="row mb-32 bg-gray-100">
                    <div class="col-12 col-lg-8">
                        <f:for each="{productGroup.image}" as="image" iteration="iteration">
                            <f:if condition="{iteration.cycle} == '1' ">
                                <f:link.page pageUid="{productGroup.pages.uid}">
                                    <gjoSe:media.media file="{image}"
                                                       class="img-fluid"
                                                       alt="{productGroup.header}"
                                                       width="720"
                                                       breakpoints="{
                                                    0: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 640}},
                                                    1: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 720}},
                                                    2: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 540}},
                                                    3: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 350}}
                                         		}"/>

                                </f:link.page>
                            </f:if>
                        </f:for>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="">
                            <f:link.page pageUid="{productGroup.pages.uid}">
                                <h2 class="text-center pt-32 mb-32">
                                    {productGroup.header}
                                </h2>
                            </f:link.page>
                            <h3 class="text-center mb-32">
                                {productGroup.subHeader}
                            </h3>
                            <div class="p-8">
                                <f:format.raw>
                                    <f:format.crop maxCharacters="120">{productGroup.description}</f:format.crop>
                                </f:format.raw>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </f:if>

    </f:section>

</div>