<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Default"/>

    <f:section name="main">

        <div class="product-set-group">

            <div class="card skin-black">
                <div class="view">
                    <f:for each="{productGroup.image}" as="image" iteration="iteration">
                        <f:if condition="{iteration.cycle} == '1' ">
                            <f:link.page pageUid="{productGroup.pages.uid}">
                                <gjoSe:media.media file="{image}"
                                                   class="img-fluid"
                                                   alt="{productGroup.header}"
                                                   width="720"
                                                   breakpoints="{
                                                    0: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 640}},
                                                    1: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 720}},
                                                    2: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 540}},
                                                    3: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 350}}
                                         		}"/>
                                <div class="mask rgba-white-slight"></div>
                            </f:link.page>
                        </f:if>
                    </f:for>
                </div>

                <div class="card-body">
                    <h3>
                        {productGroup.header}
                    </h3>
                    <h4>
                        {productGroup.subHeader}
                    </h4>
                    <f:format.raw>
                        {productGroup.description}
                    </f:format.raw>
                </div>
            </div>

            <div class="skin-gray">
                <h2>Sofort zum richtigen Produkt:</h2>
            </div>

            <f:for each="{productGroup.productSetTypes}" as="productSetType">
                <div class="card skin-gray px-16 pb-32">
                    <div class="card-body">
                        <h4 class="card-title">
                            {productSetType.name}
                        </h4>
                        <ul class="font-size-16">
                            <f:for each="{productSetType.productSets}" as="productSet" iteration="iteration">
                                <li class="{f:if(condition: iteration.isLast, then: '', else: 'border-bottom')}">
                                    <f:link.page pageUid="{productSet.pages.uid}">{productSet.name} &#8599;</f:link.page>
                                </li>
                            </f:for>
                        </ul>
                    </div>

                </div>
            </f:for>

            <div class="skin-white">
                <h2>{productGroup.teaserHeader}</h2>
            </div>

            <div class="card skin-white product-set-group-image-teaser px-24 pb-32">
                <div class="view pb-24">
                    <f:for each="{productGroup.teaserImage}" as="image" iteration="iteration">
                        <f:if condition="{iteration.cycle} == '1' ">
                            <f:for each="{productGroup.teaserImage}" as="image">
                                <gjoSe:media.media file="{image}"
                                                   class="img-fluid"
                                                   alt="{productGroup.header}"
                                                   width="720"
                                                   breakpoints="{
                                                    0: {cropVariant: 'desktop', media: '(min-width: 992px)', srcset: {0: 570}},
                                                    1: {cropVariant: 'laptop', media: '(min-width: 768px)', srcset: {0: 720}},
                                                    2: {cropVariant: 'tablet', media: '(min-width: 576px)', srcset: {0: 540}},
                                                    3: {cropVariant: 'mobile', media: '(min-width: 300px)', srcset: {0: 350}}
                                         		}"/>
                            </f:for>
                        </f:if>
                    </f:for>
                </div>

                <div class="card-body p-0">
                    <f:format.raw>{productGroup.teaserDescription}</f:format.raw>
                </div>
            </div>
        </div>


    </f:section>

</div>
